<a onclick='openImagePage("<%- obra.id %>");'>
    <div class="grid-item">
        <div class="grid-item-content" style='<%= obra.style %>'>

            <div class="grid-info">
                <h1 class="grid-h">
                    <span lang="pt"><%= obra.titlept %></span>
                    <span lang="en"><%= obra.titleen %></span>
                </h1>
                <p class="grid-p">
                    <span lang="pt"><%= obra.descriptionpt %></span>
                    <span lang="en"><%= obra.descriptionen %></span>
                </p>
            </div>
        </div>
    </div>
</a>