<div id="imageoverlay">
    <div id="grid-imageoverlay">
        <button id="back" onclick="closeImageoverlay()">
            <span lang="pt">VOLTAR</span>
            <span lang="en">BACK</span>
        </button>
        <div id="imageoverlay-image" style='background-image: url(<%= obra.fileurl %>);'></div>
        <div id="imageoverlay-description">
            <h1>
                <span lang="pt"><%= (obra.titlept != "" ? obra.titlept : "Sem título") + " - " + obra.year %></span>
                <span lang="en"><%= (obra.titleen != "" ? obra.titleen : "Untitled") + " - " + obra.year %></span>
            </h1>
            <p id="imageoverlay-p">
                <span lang="pt"><%= obra.descriptionpt %></span>
                <span lang="en"><%= obra.descriptionen %></span>
            </p>
            <p class="imageoverlay-p">
                <%= obra.dimensions %>
            </p>
        </div>
    </div>

</div>