<div id="imageoverlay">
    <div id="grid-imageoverlay">
        <button id="back-button" class="imageoverlay-button imageoverlay-back-button" onclick="closeImageoverlay()">
            <span lang="pt">VOLTAR</span>
            <span lang="en" class="hide">BACK</span>
        </button>
        <img id="imageoverlay-image" src='https://joaoribeiro-bucket.s3.eu-west-3.amazonaws.com/<%= obra.fileid %>.jpg'>
        <div id="imageoverlay-description">
            <h1>
                <span lang="pt"><%= (obra.title != "" ? obra.title : "Sem título") + ", " + obra.year %></span>
                <span lang="en" class="hide"><%= (obra.title != "" ? obra.title : "Untitled") + ", " + obra.year %></span>
            </h1>
            <p id="imageoverlay-p">
                <span lang="pt"><%= obra.descriptionpt %></span>
                <span lang="en" class="hide"><%= obra.descriptionen %></span>
            </p>
            <p class="imageoverlay-p">
                <%= obra.dimensions %>
            </p>
        </div>
        <button id="share-button" class="imageoverlay-button imageoverlay-share-button" onclick='copy({title: "<%- (obra.title != "" ? obra.title : "Sem título") + ", " + obra.year %>", text: "<%- obra.descriptionpt %>}")'>
        </button>
        <p id="imageoverlay-copied" class="imageoverlay-copied" style="opacity: 0;">
            <span lang="pt">Link copiado!</span>
            <span lang="en" class="hide">Copied to clipboard!</span>
        </p>

    </div>

</div>