<div id="portfolio-items-filter">
    <button id="portfolio-filter-button-all" class="nav-menu-button <%= activefilter[0] ? "selected" : "" %>" onclick="portfolioButton('')">
        <span lang="pt">TUDO</span>
        <span lang="en">ALL</span>
    </button>
    <button id="portfolio-filter-button-canvas" class="nav-menu-button <%= activefilter[1] ? "selected" : "" %>" onclick="portfolioButton('canvas')">
        <span lang="pt">TELAS</span>
        <span lang="en">CANVAS</span>
    </button>
    <button id="portfolio-filter-button-mural" class="nav-menu-button <%= activefilter[2] ? "selected" : "" %>" onclick="portfolioButton('mural')">
        <span lang="pt">MURAIS</span>
        <span lang="en">MURALS</span>
    </button>
    <button id="portfolio-filter-button-other" class="nav-menu-button <%= activefilter[3] ? "selected" : "" %>" onclick="portfolioButton('other')">
        <span lang="pt">OUTROS</span>    
        <span lang="en">OTHER</span>
    </button>
</div>
<div id = "portfolio-items-container" class="grid-container">
    <%- include('griditem-batch.ejs', {obras: obras}) %>
</div>